body {
  font-family: Lato, sans-serif;
  margin: 0;
}

.shadow {
  display: none;
}

.wrapper {
  width: 100%;
  max-width: 1020px;
  margin: auto;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: #2d303a;
  border-bottom-width: 6px;
  border-bottom-style: solid;
  border-bottom-color: #323746;
}

.header-content-burger {
  display: none;
}

.icon-menu-burger {
  display: none;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  color: #ffffff;
  font-size: 25px;
  line-height: 30px;
}

.char-logo {
  color: #f06c64;
}

.logo {
  align-items: center;
  display: flex;
  margin-left: 40px;
}

.navigation {
  align-items: center;
  display: flex;
  margin-right: 40px;
  cursor: pointer;
}

.list-nav {
  display: flex;
  list-style-type: none;
}

.list-nav a {
  text-decoration: none;
  color: white;
}

.list-nav a:hover {
  color: #f06c64;
  cursor: pointer;
}

li a {
  margin-right: 15px;
}

.dot {
  color: white;
  list-style-type: disc;

  list-style-position: inside;
}

/* .slider1 {
  width: 100%;
  /* position: relative;
  top: 80px; */
  /* background-color: #f06c64;
} */

/* --------------------- */
.emptyElement {
  width: 100%;
  height: 70px;
  background-color: #f06c64;
}
.slider {
  width: 100%;
  background-color: #f06c64;
 }

.slider__wrapper {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  max-width: 1020px;
  height: 57vw;
  min-height: 218px;
  max-height: 595px;
}

.slider__arrow {
  position: absolute;
  top: 43%;
  cursor: pointer;
  transition: 0.3s;
}

.slider__arrow--left {
  left: 5%;
}

.slider__arrow--right {
  right: 5%;
}

.slider__photo {
  width: 100%;
  position: absolute;
  display: none;
}

@keyframes moveRight {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

@keyframes moveLeft {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}

/* ------------------------- */
.paragraph {
  color: #767e9e;
  padding-bottom: 60px;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}
.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.block-services {
  background-color: #f2f2f2;
  border-bottom-width: 6px;
  border-bottom-style: solid;
  border-bottom-color: #ffffff;
  position: relative;
}

.block-services h2 {
  color: #666d89;
  font-size: 30px;
  margin-top: 0;
}

.position {
  position: absolute;
  top: -63px;
}

.card {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  width: 33%;
}

.card-icon {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  margin-right: 20px;
}

.card-content {
  margin-right: 20px;
}
.card-content h3 {
  color: #666d89;
  margin: 0;
  font-size: 18px;
}

.card-content p {
  color: #767e9e;
  margin: 0;
  padding-top: 7px;
  line-height: 22px;
  text-align: justify;
  font-size: 12px;
}

.services-content {
  padding: 59px 40px 26px 40px;
}

.portfolio {
  background-color: #2d303a;
  border-bottom-width: 6px;
  border-bottom-style: solid;
  border-bottom-color: #323746;
  position: relative;
}

.portfolio p {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
}

.portfolio h2 {
  color: #666d89;
  font-size: 30px;
  line-height: 36px;
  margin-top: 0;
}

.portfolio-content {
  padding: 59px 40px 48px 40px;
}

.tab span {
  border: 1px solid #767e9e;
  box-sizing: border-box;
  border-radius: 5px;
  color: #767e9e;
  margin-right: 11px;
  padding: 4px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.tab span:hover {
  border-color: white;
  color: white;
  cursor: pointer;
}

.tab {
  margin-bottom: 18px;
}

.portfolio-pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.picture:nth-child(n + 13) {
  display: none;
}

.network-border {
  border: solid;
  border-radius: 50%;
  border-color: #666d89;
  width: 32px;
  height: 32px;
  border-width: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

footer {
  background-color: #2d303a;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 22px 42px 22px 40px;
}

.all-network {
  display: flex;
  flex-direction: row;
}

.all-network a:hover {
  border-color: white;
  color: white;
  cursor: pointer;
}
.copyright {
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 18px;
  color: #666d89;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1019px) {
  .card {
    width: 50%;
    justify-content: center;
  }

  .portfolio-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    justify-content: center;
  }

  .portfolio-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .arrow-left {
    margin-left: 10px;
  }

  .arrow-right {
    margin-right: 10px;
  }

  .copyright {
    display: none;
  }

  .all-network {
    width: 100%;
    justify-content: center;
  }

  .portfolio-content {
    padding: 42px 30px 42px 30px;
  }

  .logo {
    align-items: center;
    display: flex;
    margin-right: 50px;
    justify-content: flex-end;
  }

  .navigation {
    display: none;
  }

  .card {
    justify-content: flex-start;
  }

  .icon-menu-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    cursor: pointer;
  }
  /*----------------burger menu-------------------------------*/

  .active.body {
    overflow: hidden;
  }

  .active .header-content {
    height: 63px;
  }

  .active .shadow {
    background: #2d303a;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
  }

  .active .logo {
    display: none;
  }

  .active .icon-menu-burger {
    display: none;
  }

  .active .header-content-burger {
    position: fixed;
    top: 0;
    width: 278px;
    height: 100%;
    background: #2d303a;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
  }

  .active .icon-logo-burger {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 180px;
  }

  .active .icon-menu-burger2 {
    margin-left: 22px;
  }

  .active .logo-burger h1 {
    margin: 0;
    margin-right: 60px;
  }
  .active .dot {
    display: none;
  }

  .active .nav-header-burger {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-left: 25px;
  }

  .active .list-nav-burger li {
    cursor: pointer;
    list-style-type: none;
    margin: 0;

    font-size: 24px;
    line-height: 29px;
    margin-bottom: 27px;
  }

  .active .list-nav-burger a {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    margin: 0;
  }

  .active .list-nav-burger a:hover {
    color: #f06c64;
    cursor: pointer;
  }
  .active .icon-menu-burger2 {
    animation-name: rotateImg;
    animation-duration: 2s;
    animation-iteration-count: unset;
  }

  @keyframes rotateImg {
    to {
      transform: rotate(90deg);
    }
  }
}

/*--------------------styles for js------------------------------------*/

.list-nav a.nav-event {
  color: #f06c64;
}

.tab span.portfolio-event {
  border-color: white;
  color: white;
}

.change-place {
  display: grid;
  order: 6;
}
